<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="content">
                    <div class="d-md-block d-none">
                        <a class="h1 font-shrikhand text-black font-italic p-0" href="#">ALPHABOX+</a>
                        <p class="fw-bold fs-6">Copyright © 2023 Hexschool.</p>
                    </div>
                    <a class="h1 font-shrikhand text-black font-italic p-0 mb-2 d-md-none d-block" href="#">ALPHABOX+</a>
                    <span class="material-symbols-outlined f-60 fw-bold text-black mb-2">emergency</span>
                    <ul class="list-unstyled d-flex flex-column flex-md-row m-0">
                        <li class="me-md-4 mb-md-0 mb-2">關於我們</li>
                        <li class="me-md-4 mb-md-0 mb-2">產品資訊</li>
                        <li class="me-md-4 mb-md-0 mb-2">常見問題</li>
                        <li class="mb-2">隱私政策</li>
                    </ul>
                    <p class="fw-bold fs-6 d-md-none d-block">Copyright © 2023 Hexschool.</p>
                </div>
            </div>
        </div>
    </div>
</footer>